*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    list-style-type: none;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    margin-left: 500px;
    margin-right: 500px;
    cursor: pointer;
   position: sticky;
   top: 0;
}
body{
    background-color:#333;
    font-family: sans-serif;
}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.p{
    display: inline;
    color: green;
    font-family: sans-serif;
    font-weight: bolder;
}
h1{
    color: white;
}
.div-2{
    color: grey;
     display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 40px;
}
.btn{   
background-color: green;
color: #333;
width: 100px;
height: 40px;
border-radius: 10px;
cursor: pointer;
font:  larger;
font-weight: bolder;
}
.div-3{
    display: flex;
justify-content: center;
align-items: center;
margin-top: 15px;
}
.img{
display: flex;
justify-content: center;
width: 150px;
height: 150px;
margin-left: 670px;
margin-top: 80px;
}
.div-4{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 200px;
    font-family: sans-serif;
}
.container{
    display: flex;
    width: 100%;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   margin-left: 500px;
margin-top: 50px;
}
.culom{
    flex-direction: column;
    margin-left: 10px;
    flex: 1;
}
.culom div{
padding: 5px 0;
}
.image{
    width: 90px;
    height: 90px;
    flex: 1;
  
    display: flex;
   margin-left: 700px;
   margin-top: -70px;
   border-radius: 5px;
  background-size: cover;
  align-items: center;
  border: 50px solid;
  border-color: lime;
background-position: center;

}
.img-2{
    width: 50px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
   
}
.h1{
    margin-left: 400px;
}
.container-2{
    margin-right: 500px;
    display: flex;
    width: 100%;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
  margin-top: 90px;
  margin-left: 150px;

}
.image-2{
    
    width: 90px;
    height: 90px;
    flex: 1;
    background-color: limegreen;
    display: flex;
   margin-right: 700px;
   margin-top: -90px;
   border-radius: 5px;
  background-size: cover;
  align-items: center;
  border: 50px solid;
  border-color: lime;

}
.img-4{
    width: 50px;
    height: 50px;
}
.culom-2 div{
    padding: 5px 0;
}
.h1-2{
    margin-left: 120px;
}
.p-2{
    margin-left: 120px;
}
.container-3{
    display: flex;
    width: 100%;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   margin-left: 500px;
   margin-top: 120px;

}
.image-3{
    width: 90px;
    height: 90px;
    flex: 1;
    border: 50px solid;
    border-color: lime;
    display: flex;
   margin-left: 700px;
   margin-top: -70px;
   border-radius: 5px;
  background-size: cover;
  align-items: center;
}
.cobe{
width: 50px;
height: 50px;
}
.h1-3{
    margin-left: 400px;

}
.container-4{
    margin-right: 500px;
    display: flex;
    width: 100%;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
  margin-top: 90px;
  margin-left: 150px;
}
.image-4{
  
    
    flex: 1;
   
    display: flex;
   margin-right: 700px;
   margin-top: -90px;
 
  width: 70px;
  height: 100px;    border: 50px solid;
    border-color: lime;  
    border-radius: 5px;
  align-items: center;
}
.hello{
 width: 50px;
 height: 20px;
 
}
.h1-4{
    margin-left: 120px;
}
.p-4{
    margin-left: 120px;
}
.rot{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.lmfao{
 width: 150px;
 height: 150px;
 border-radius: 70px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.h2{
    color: white;
    display: flex;
    align-items: center;
}
.q-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    font-family: sans-serif;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}
.p-3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.lp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.kiri{
    color: white;
    font-family: sans-serif 1em;
    font-weight: bolder;
}
.pedro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
}
.shit{
    color: gray;
}
.icon icon-tabler icon-tabler-bolt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dis-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dis-3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lime;
    border-radius: 35px;
    padding: 15px;
}
.dis{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}
.icons{
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hell{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.imp{
    width:490px;
    border-radius: 15px;
}
.laptopbich{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 30px;
}
.time{
    display: inline;
    color: lime;
}
.finally{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}